@import '../../../App.less';
@media screen and (max-device-width: 500px) {
}

.main {
  margin: 4rem 1rem;
  width: 37.5rem;
  // height: 50rem;
  @media (max-width: 500px) {
    width: auto;
  }

  h1 {
    text-align: center;
    padding-bottom: 2.5rem;
    border-bottom: 0.1rem solid @dividerGrey;
  }
}

.form {
  margin: 5rem 0;
}

.serverError {
  padding-top: 2rem;
  color: red;
  text-align: center;
}
